*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

/*--Navigation Bar--*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,00.5);
}
nav .logo img{
    width: 120px;
    margin: 20px 0;
    position: relative;
    left: -45%;
    cursor: pointer;
} 
nav ul li{
    display: inline-block;
    margin: 0 10px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 50px;

}
nav ul li a:hover{
    color: red;
    transition: 0.5s
}
.login a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid;
    border-radius: 30px;
    padding: 10px 20px;
}
.login a:hover{
    background-color: black;
    color: white;
    transition: 0.3s
}
.login i{
    font-size: 30px;
    color: black;
}

/*--Header--*/
.main{
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.main-heading{
    margin-bottom: 110px;
}
.main-heading h1{
    color: white;
    font-size: 75px;
    position: relative;
    top: -25px;
    margin-top: 200px;
    text-align: center;
    font-size: 60px;
}
.main-heading h2{
    color: white;
    position: relative;
    top: 40px;
    font-weight: 300;
    line-height: 23px;
    text-align: center;
}
/*--Header Button--*/
.button1{
    color: black;
    text-decoration: none;
    border: 2px solid;
    padding: 15px 20px;
    position: relative;
    top: 100px;
    align-items: center;
    font-weight: 550;
}
.button1:hover{
  background: black;
  color: white;
  border: black;
}
.button2{
  color: black;
  text-decoration: none;
  border: 2px solid;
  padding: 15px 20px;
  position: relative;
  top: 100px;
  align-items: center;
  text-transform: uppercase;
  font-weight: 550;
}
.button2:hover{
background: black;
color: white;
border: black;
}
/*--food section--*/
.seller-hr{
  height: 30px;
  border-width:0;
  background-color: #8bc5f0;
}

.seller h1{
  text-align: center;
  padding-top: 40px;
  font-size: 35px;
  text-transform: uppercase;
}

.item-section{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1px 150px;
}
.item-card{
  flex: 1;
  margin: 50px 20px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}
.item-card img{
  width:  100%;
  height: auto;
}
.item-card img:hover{
  transform: scale(1.1);
  transition: 0.5s;
}
.item-section .item-card h4{
  margin: 15px 0px;
  font-size: 28px;
  color: black;
}
.item-section .item-card p{
  font-size: 16px;
  line-height: 1.5;
  padding: 0px 10px;
  margin-bottom: 20px;
}
.seller-button{
  background-color: red;
  padding-bottom: 50px; 
  align-items: center;
  text-align: center;
  position: relative;
}

/*--About Section on Homepage--*/
.about-hr{
  height: 10px;
  border-width: 0;
  background-color: rgb(237, 236, 236);
}

.about{
    width: 100%;
    padding: 100px 0px; 
    background-color: #8bc5f0;
  }
  .about img{
    width: 500px;
  }
  .about-text{
    width: 550px;
  }
  .abouts{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .about-text h2{
    color: black;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  .about-text h4{
    color: black;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 40px;
    margin-bottom: 40px;
  }
  .about-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 19px;
    margin-bottom: 45px;
}
.contact-button{
    text-decoration: none;
    background-color: white;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    padding: 14px 60px;
    transition: .2s
}
.contact-button:hover{
    background-color: black;
    color: white;
    border: none;
  
  }
  footer{
    background-color: black;
    height: auto;
    padding-top: 40px;
  }
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-content h3{
    color: white;
  }
  
  footer p{
    color: white;
  }
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 3rem 0;
    padding-right: 10px;
  }
  .socials li{
    margin: 0 10px;
  }
  .socials li a{
    text-decoration: none;
    color: white;
    padding: 5px;
    border: 1.1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 29px;
  }
  .socials li a:hover{
    color: red;
  }
  .footer-menu{
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
  }
  .footer-menu ul{
    display: flex;
  }
  .footer-menu ul li{
    display: block;
  }
  .footer-menu ul li a{
    color: white;
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 20px;
  }
  .footer-menu ul li a:hover{
    color: #8bc5f0;
  }
  .footer-bottom{
    background: black;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
  }

.shop-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  padding-top: 2rem;
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}
.shop-box{
  position: relative;
  flex: 1 1 17rem;
  box-shadow: 0 4px 4px rgb(14 55 54 / 15%);
  border-radius: 0.5rem;
  height: auto;
}
.shop-img{
  width: 100%;
  height: 300px;
  border-radius: 0.5rem;
  overflow: hidden;
}
.shop-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.shop-img img:hover{
  transform: scale(1.1);
  transition: 0.5s;
}
.shop-box h3{
  font-size: 25px;
  margin-top: 10px;
  text-align: center;
}
.shop-box h2{
  font-size: 25px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 1rem;
  color: grey;
}
.shop-box p{
  font-size: 15px;
  margin-top: 5px;
  text-align: center;
}
.shop-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px 10px;
  margin: 0 80px;
  border-radius: 10px 10px 0px 0px;
}
.shop-btn:hover{
  background: grey;
}
/*--Service Section--*/
h5{
    text-align: center;
    padding-top: 30px;
    font-size: 42px;
}

.service{
  width: 85%;
  padding: 100px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 75px auto;
  text-align: center;
}
.service-box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}
.service-card{
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0px 0px;
  padding: 20px 20px;
  background-color: grey;
  border-radius: 10px;
}
/*--Page Banner--*/
.banner-area{
  background-size: cover;
  background-position: center center;
  max-width:100%;
  padding-bottom: 160px;
  margin:0 auto;
  background-color: #8bc5f0;
}
.banner-area h6{
  text-align: center;
  padding-top: 10%;
  font-size: 70px;
  color: black;
}

.banner-area p{
  text-align: center;
  padding-top: 2px;
  font-size: 20px;
  color: black;
}
.contact-me{
    width: 100%;
    height: 290px;
    background: gray; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.contact{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}
.contact-box{
    max-width: 1130px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
}
.contact p{
  padding: 1rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
  padding-right: 10px;
}

.left{
    background: url("background.png") no-repeat center;
    background-size: cover;
    height: 100%;
}

.right{
    padding: 3rem 40px;
}

.field{
    width: 100%;
  max-width: 500px;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 1rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

textarea{
    min-height: 150px;
}

.btn{
  border-radius: 1px;
  width: 500px;
    background-color: black;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.btn:hover{
    background-color: white;
    color: black;
}
.field:focus{
  border: 2px solid rgba(30,85,250,0.47);
  background-color: #fff;
}