*{
    font-family: Arial, Helvetica, sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
}

body{
    min-height: 100vh;
    background-color: black;
    background-size: cover;

}
/*--navigation bar--*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.navbar a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-transform:capitalize;
    margin-left: 40px;
    font-weight: 500;
    position: relative;
    padding: 0px 25px;
}
.navbar a:hover{
    color: black;
    background-color: white;
    padding: 30px 25px;
}

