*{
    font-family: Arial, Helvetica, sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
}

/*--Navigation Bar--*/
section{
    width: 100%;
    height: 100vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,00.5);
}
nav .logo img{
    width: 120px;
    margin: 20px 0;
    position: relative;
    left: -45%;
    cursor: pointer;
} 
nav ul li{
    display: inline-block;
    margin: 0 10px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 50px;

}
nav ul li a:hover{
    color: red;
    transition: 0.5s
}
.login a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid;
    border-radius: 30px;
    padding: 10px 20px;
}
.login a:hover{
    background-color: black;
    color: white;
    transition: 0.3s
}
.login i{
    font-size: 30px;
    color: black;
}

/*--Header--*/
.main{
    background-image: linear-gradient(#8bc5f0, #cae6fc);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.main-heading{
    margin-bottom: 110px;
}
.main-heading h1{
    color: white;
    font-size: 75px;
    position: relative;
    top: -25px;
    margin-top: 200px;
    text-align: center;
    font-size: 60px;
}
.main-heading h2{
    color: white;
    position: relative;
    top: 25px;
    font-weight: 300;
    line-height: 23px;
    text-align: center;
}
/*--Button--*/
.main .btn{
    color: black;
    text-decoration: none;
    border: 2px solid;
    border-radius: 30px;
    padding: 10px 20px;
    position: relative;
    top: 100px;
    align-items: center;
}
.main .btn:hover{
    background-color: black;
    border-color: black;
    color: white;
    transition: 0.5s;
}
/*--About Section on Homepage--*/
.about{
    width: 100%;
    height: 100vh;
    padding: 100px 0 0 0;
    background-color: lightblue;
}
.about-main{    
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around
}
.about-main img{
    width: 300px;
}
.about-text h1{
    font-size: 45px;
    position: relative;
    bottom: 40px;
}
.about-text h2{ 
    position: relative;
    bottom: 10px;
    font-size: 25px;
}
.about-text p{
    width: 650px;
    text-align: justify;
    line-height: 23px;
    margin-top: 20px;
}
.about-btn{ 
    text-decoration: none;
    font-size: 15px;
    margin-right: 8px;
}